body {
	background: #f9e933;
	font-family: 'Droid Sans', sans-serif;
}

header, main, footer{
	min-width:855px; 
}

header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto;
	overflow: auto; 
}

header {
	 background: white; 
	 overflow: auto; 
	}

nav{
	margin-top: 20px;
}

main {
	background: white;
}

header h1{
	float: left;
	width: 570px; 
	color: red; 
}

header nav{
	float: right; 
	width: 285px;
}

.compartment-left{
	float: left;
}

.compartment-right{
	float:right; 
	margin-left: 20px;
}

.compartment-right ul{
 	margin-top: 10px;
 }
 

h1{
	font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Ubuntu', sans-serif;
	margin-top: 10px;
}

h1{
	font-size: 4.5em;
}

h2{
	font-size: 2.5em;
}

h3{
	font-size: 2em;
}

h4{
	font-size: 1.5em;
}

h5{
	font-size: 1.5em;
}

a{
	color: red; 
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

p{
	margin-top: 10px; 
}

li{
	margin-top: 5px;
}

img{
	margin-top: -50px;
}











